In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import math
import scipy
import scipy.stats as stats
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
runners = pd.read_csv('/Users/Albert/Desktop/Thinkful_Drills/Data/Unsupervised Learning/Boston Marathon Results - 2014.csv')
runners.head()

,10k,name,division,25k,gender,age,official,bib,genderdiv,ctz,...,overall,pace,state,30k,5k,half,20k,country,city,40k
0,17.37,"Yamamoto, Hiroyuki",8,47.67,M,47,85.25,W1,8,NaN,...,8,3.27,NaN,59.18,8.02,39.72,37.65,JPN,Fukuoka,80.43
1,32.58,"Jeptoo, Rita",1,82.43,F,33,138.95,F1,1,NaN,...,21,5.30,NaN,99.33,16.22,69.47,65.83,KEN,Eldoret,132.10
2,16.62,"Van Dyk, Ernst F.",1,45.80,M,41,80.60,W2,1,NaN,...,1,3.08,NaN,56.45,7.75,38.03,36.10,RSA,Paarl,76.10
3,32.57,"Dibaba, Mare",3,82.43,F,24,140.58,F2,3,NaN,...,27,5.37,NaN,99.33,16.20,69.47,65.83,ETH,Shoa,132.95
4,17.12,"Hokinoue, Kota",2,46.37,M,40,81.23,W3,2,NaN,...,2,3.10,NaN,57.03,8.02,38.60,36.58,JPN,Nogata Fukuoka,76.72

In [3]:
print(runners.shape)
for col in runners.columns:
    print (col)

(31984, 21)
10k
name
division
25k
gender
age
official
bib
genderdiv
ctz
35k
overall
pace
state
30k
5k
half
20k
country
city
40k

In [20]:
del runners['bib']
del runners['ctz']

nan

In [56]:
def null_conv (x):
    if '-' in x:
        return runners['state'].iloc[0]

runners.apply(null_conv, axis=1)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
31954    None
31955    None
31956    None
31957    None
31958    None
31959    None
31960    None
31961    None
31962    None
31963    None
31964    None
31965    None
31966    None
31967    None
31968    None
31969    None
31970    None
31971    None
31972    None
31973    None
31974    None
31975    None
31976    None
31977    None
31978    None
31979    None
31980    None
31981    None
31982    None
31983    None
Length: 31984, dtype: object

In [57]:
runners

,10k,name,division,25k,gender,age,official,bib,genderdiv,ctz,...,overall,pace,state,30k,5k,half,20k,country,city,40k
0,17.37,"Yamamoto, Hiroyuki",8,47.67,M,47,85.25,W1,8,NaN,...,8,3.27,NaN,59.18,8.02,39.72,37.65,JPN,Fukuoka,80.43
1,32.58,"Jeptoo, Rita",1,82.43,F,33,138.95,F1,1,NaN,...,21,5.30,NaN,99.33,16.22,69.47,65.83,KEN,Eldoret,132.10
2,16.62,"Van Dyk, Ernst F.",1,45.80,M,41,80.60,W2,1,NaN,...,1,3.08,NaN,56.45,7.75,38.03,36.10,RSA,Paarl,76.10
3,32.57,"Dibaba, Mare",3,82.43,F,24,140.58,F2,3,NaN,...,27,5.37,NaN,99.33,16.20,69.47,65.83,ETH,Shoa,132.95
4,17.12,"Hokinoue, Kota",2,46.37,M,40,81.23,W3,2,NaN,...,2,3.10,NaN,57.03,8.02,38.60,36.58,JPN,Nogata Fukuoka,76.72
5,32.58,"Sumgong, Jemima Jelagat",4,82.45,F,29,140.68,F3,4,NaN,...,28,5.37,NaN,99.33,16.22,69.47,65.83,KEN,Nandi,132.95
6,17.65,"Hug, Marcel E.",4,47.67,M,28,84.65,W4,4,NaN,...,4,3.23,NaN,58.60,8.38,39.72,37.65,SUI,Neuenkirch,79.83
7,30.48,"Geneti, Markos",5,76.95,M,29,129.83,5,5,NaN,...,5,4.97,NaN,92.52,15.17,64.85,61.62,ETH,Addis Ababa,122.80
8,17.12,"Soejima, Masazumi",3,46.37,M,43,81.23,W6,3,NaN,...,3,3.10,NaN,57.03,8.00,38.60,36.60,JPN,Isahaya,76.70
9,30.48,"Hall, Ryan",20,77.68,M,31,137.83,6,20,NaN,...,20,5.27,CA,94.78,15.15,65.23,61.78,USA,Redding,129.83
10,32.58,"Cherop, Sharon",8,82.45,F,30,143.00,F6,8,NaN,...,40,5.47,NaN,99.35,16.22,69.47,65.85,KEN,Marakwet,134.65
11,30.52,"Chebet, Wilson",2,76.97,M,28,128.80,7,2,NaN,...,2,4.92,NaN,92.52,15.18,64.87,61.63,KEN,Marakwet,121.95
12,18.13,"Lemeunier, Denis Sr.",11,49.17,M,49,86.95,W7,11,NaN,...,11,3.32,NaN,60.85,8.40,41.18,39.03,FRA,Taule,82.17
13,32.58,"Kilel, Caroline",17,85.55,F,33,152.07,F7,17,NaN,...,121,5.80,NaN,104.62,16.22,71.10,67.15,KEN,Bomet,143.50
14,17.12,"Cassidy, Josh R.",13,48.88,M,29,87.40,W8,13,NaN,...,13,3.35,ON,60.82,8.02,40.20,38.02,CAN,Port Elgin,82.38
15,33.93,"Linden, Desiree",10,85.03,F,30,143.90,F8,10,NaN,...,46,5.50,MI,102.40,16.92,71.68,67.92,USA,Rochester Hills,136.47
16,17.13,"Madera, Jordi",5,47.45,M,34,84.70,W9,5,NaN,...,5,3.23,NaN,58.73,8.02,39.12,36.98,ESP,Les Franquesas,79.92
17,32.57,"Deba, Buzunesh",2,82.43,F,26,139.98,F10,2,NaN,...,25,5.35,NaN,99.35,16.20,69.47,65.83,ETH,Arsi,132.65
18,18.17,"Hamerlak, Tomasz",7,49.15,M,38,84.88,W10,7,NaN,...,7,3.25,NaN,59.92,8.67,41.20,39.05,POL,Bystra,80.18
19,34.80,"Petrova Arkhipova, Tatiana",13,87.83,F,31,150.48,F11,13,NaN,...,102,5.75,NaN,106.03,17.32,73.95,70.10,RUS,Cheboksary,142.68
20,30.50,"Chepkwony, Frankline",3,76.95,M,29,128.83,11,3,NaN,...,3,4.92,NaN,92.52,15.18,64.90,61.63,KEN,Koibatek,122.22
21,33.23,"Duliba, Aleksandra",6,83.40,F,26,141.48,F12,6,NaN,...,34,5.40,NaN,100.58,16.47,70.25,66.57,BLR,Minsk,134.20
22,30.50,"Kogo, Micah",17,76.97,M,27,137.20,12,17,NaN,...,17,5.23,NaN,92.52,15.17,64.88,61.62,KEN,Eldoret,128.18
23,18.17,"Botello Jimenez, Rafael",12,49.15,M,35,86.95,W12,12,NaN,...,12,3.32,NaN,60.87,8.68,41.20,39.05,ESP,Manlleu,82.17
24,18.30,"Filteau, Michel",14,50.33,M,47,89.40,W13,14,NaN,...,14,3.42,QC,62.33,8.67,41.80,39.63,CAN,St-Jean Baptiste,84.48
25,33.02,"Esayias, Yeshi",12,85.03,F,28,147.67,F14,12,NaN,...,71,5.63,NaN,102.92,16.22,71.45,67.62,ETH,Arsi,139.70
26,30.53,"Annani, Adil",10,76.97,M,33,132.72,14,10,NaN,...,10,5.07,NaN,92.60,15.18,64.88,61.63,MAR,Marrakesh,125.23
27,18.78,"Kim, Gyu Dae",15,50.33,M,30,89.52,W14,15,KOR,...,15,3.42,IL,62.72,8.98,41.82,39.65,USA,Champaign,84.75
28,33.02,"Ongori, Philes",9,83.43,F,27,143.37,F15,9,NaN,...,42,5.48,NaN,100.80,16.35,70.27,66.58,KEN,Kisii,135.67
29,30.52,"Lonyangata, Paul",9,76.97,M,31,132.57,15,9,NaN,...,9,5.07,NaN,92.52,15.18,64.90,61.63,KEN,Eldoret,124.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31954,57.83,"Young, Brian",4242,141.17,M,30,250.65,35882,12059,NaN,...,20175,9.57,MA,170.85,29.08,118.22,112.13,USA,Natick,235.95
31955,67.77,"Masiiwa, Graham",5072,174.53,M,35,293.53,35883,15001,ZIM,...,26529,11.20,MA,208.62,34.53,147.12,139.45,USA,Wellesley,277.10
31956,55.52,"Damour, Justin N.",4818,143.80,M,37,279.85,35884,14174,NaN,...,24793,10.68,MA,184.75,27.67,119.05,112.27,USA,Holden,264.00
31957,56.35,"Bobel, Emily C.",4377,140.80,F,32,254.08,35886,8479,NaN,...,20812,9.70,CA,171.15,28.33,118.47,112.40,USA,Palo Alto,240.63
31958,72.95,"Orlando, Christopher",1740,193.82,M,58,364.88,35887,17199,NaN,...,31075,13.93,MA,241.35,35.37,160.02,151.27,USA,Quincy,341.32
31959,68.58,"Nugent, Emily J.",6008,176.93,F,24,313.63,35888,12445,NaN,...,28380,11.97,MA,218.60,31.67,146.87,139.65,USA,Worcester,299.00
31960,59.25,"Svendsen, Lance A.",5087,157.38,M,29,294.28,35889,15057,NaN,...,26624,11.23,NJ,195.87,29.15,131.37,124.18,USA,Lakewood,279.23
31961,72.07,"Bitton, Elizabeth",6787,204.37,F,37,370.85,35890,13960,NaN,...,31215,14.15,MA,248.98,32.05,162.62,153.17,USA,Brookline,353.35
31962,72.07,"Raisner Thompson, Debra",2249,204.37,F,47,370.83,35891,13959,NaN,...,31214,14.15,MA,249.08,32.05,163.02,153.23,USA,Brookline,353.92
31963,49.38,"Ginsberg, Rick",1939,125.35,M,43,248.93,35892,11919,NaN,...,19835,9.50,CO,161.22,24.80,104.17,98.58,USA,Denver,235.77
31964,57.20,"Shanley, Seamus P.",4432,147.32,M,36,260.03,35893,12816,NaN,...,21872,9.93,MA,180.20,28.25,122.37,116.03,USA,Shrewsbury,246.23
31965,73.15,"Aldenberg, William B.",2818,187.78,M,45,336.80,35894,16671,NaN,...,29918,12.85,MA,228.53,38.02,155.13,147.50,USA,Sturbridge,317.78
31966,68.95,"Tamuleviz, Joseph G.",2434,198.90,M,54,371.38,35895,17260,NaN,...,31227,14.17,MA,248.05,32.23,159.45,150.40,USA,Millis,351.20
31967,57.80,"Page, Janice C.",910,148.15,F,52,262.35,35896,9237,NaN,...,22237,10.02,MA,182.72,28.28,123.83,117.30,USA,Brookline,247.57
31968,77.03,"Quinn, Alexa K.",6742,208.68,F,23,364.60,35897,13872,NaN,...,31068,13.92,MA,256.03,36.45,172.48,162.87,USA,Malden,346.15
31969,63.62,"O'Donnell, Jennifer R.",6501,169.60,F,18,340.62,35898,13377,NaN,...,30160,13.00,MA,218.87,31.17,140.83,133.10,USA,Norwood,321.70
31970,57.75,"Maggiacomo, Derek",2187,149.88,M,44,278.13,35899,14068,NaN,...,24550,10.62,MA,186.15,28.38,124.03,117.42,USA,Duxbury,261.43
31971,67.67,"Pearless, Kristen E.",2203,190.55,F,43,342.77,35900,13441,NaN,...,30269,13.08,MI,239.88,32.45,157.35,149.05,USA,Clio,325.00
31972,68.18,"Donahoe, Daniel",5604,188.33,M,31,331.83,35901,16541,NaN,...,29638,12.67,MA,229.33,32.80,154.50,145.92,USA,Dorchester,314.93
31973,69.53,"Reno, James T.",1725,190.55,M,56,356.20,35902,17092,NaN,...,30827,13.60,MA,237.68,34.12,153.02,144.65,USA,Reading,336.62
31974,76.45,"Foley, Alison M.",6973,-,F,29,431.73,35903,14339,NaN,...,31887,15.52,MA,279.47,35.63,183.28,166.43,USA,Wellesley,-
31975,75.80,"Casey, Patrick A. Jr.",2897,-,M,45,385.13,35904,17389,NaN,...,31517,14.70,MA,268.23,37.72,170.82,162.13,USA,Weymouth,366.37
31976,63.95,"Lyons, Paul J. Jr.",4993,161.75,M,33,288.85,35905,14730,NaN,...,25975,11.03,MA,200.45,31.60,135.50,128.43,USA,Hyde Park,275.02
31977,63.33,"Vinal, George R. Jr.",5217,165.40,M,37,302.93,35906,15472,NaN,...,27490,11.57,MA,208.53,29.82,136.98,130.45,USA,Boston,286.62
31978,76.75,"Morris, David",2598,210.07,M,44,374.22,35907,17288,NaN,...,31296,14.28,MA,257.60,37.10,173.45,163.78,USA,Wayland,352.18
31979,50.72,"Anderson, Steve K.",3414,124.02,M,32,211.75,35908,7500,NaN,...,9849,8.08,CA,148.65,26.13,104.78,99.55,USA,Larkspur,200.22
31980,61.28,"McCarthy, Michael P.",5212,165.02,M,34,302.52,35909,15459,NaN,...,27456,11.55,MA,203.43,31.07,135.85,128.37,USA,Norwell,285.47
31981,59.00,"Brimmer, Delia C.",5231,157.02,F,21,282.00,35910,10788,NaN,...,25092,10.77,CT,192.65,28.18,130.57,123.33,USA,West Simsbury,266.30
31982,63.75,"Morganthal, Amy",5800,167.82,F,38,302.73,35911,12009,NaN,...,27476,11.55,MA,207.52,30.98,137.03,129.90,USA,North Andover,285.87
31983,53.63,"Kirchner, Jeffrey T.",1396,135.02,M,54,228.30,35912,9771,NaN,...,14844,8.72,PA,161.83,26.92,114.13,108.03,USA,Lancaster,216.48

In [44]:
str_to_num = ['5k','10k','20k','25k','30k','35k','40k','half']

for col in str_to_num:
    runners[col] = pd.to_numeric(runners[col])

ValueError: Unable to parse string "-" at position 3189

In [40]:
runners.iloc[835:837]

,10k,name,division,25k,gender,age,official,genderdiv,35k,overall,pace,state,30k,5k,half,20k,country,city,40k
835,43.35,"Takacs, Greg",3313,112.05,M,"(34, 44]",209.23,7094,167.47,9079,7.98,TX,137.70,21.38,93.58,88.45,USA,Willow Park,198.00
836,38.28,"Moosbrugger, Michael",2701,100.75,M,"(24, 34]",194.87,4672,150.93,5252,7.43,NaN,124.67,-,83.70,79.12,AUT,Dornbirn,181.07

In [38]:
runners['official'].dtype

dtype('float64')

In [41]:
runners['division'].describe()

count    31984.000000
mean      1932.563032
std       1715.228694
min          1.000000
25%        610.000000
50%       1425.000000
75%       2611.000000
max       6979.000000
Name: division, dtype: float64

In [21]:
runners['age'] = pd.cut(runners['age'], [17,24,34,44,59,69,82])

In [30]:
time_features = runners[['5k','10k','20k','25k','30k','35k','40k','half','official','pace','overall']]
catg_features = runners[['gender','age','country']]
features = pd.concat([time_features, catg_features], axis=1)

In [31]:
Xgen = pd.get_dummies(features.drop(labels='gender', axis=1))
Ygen = pd.get_dummies(features['gender'])

Xage = pd.get_dummies(features.drop(labels='age', axis=1))
Yage = pd.get_dummies(features['age'])

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize